<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	        <!-- Bootstrap CSS -->
		<link 
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js"></script>

		<style>
			.autocomplete-suggestions {
				background: #FFF;
				border: 1px solid #000;
			}

			.autocomplete-suggestion {
				color: #000;
			}

			.autocomplete-selected {
				background: #A0A3A1;
			}
		</style>

		<title>Kavraki Lab Web App</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark mb-3">
			<div class="container-fluid">
				<a class="navbar-brand mb-auto h1" href="/">
					Kavraki Lab Web App
				</a>
			</div>
		</nav>

		<div class="container">
			<form action="/search" method="post" class="col mx-3 mb-3 align-items-center">
				<h3>Search for a file</h3>
				<div class="row g-0 mx-auto">
					<div class="col">
						<label for="allele" class="form-label">Allele</label>
						<input name="allele" id="allele" placeholder="Enter an allele" value='{{ allele if allele else "" }}'/>
					</div>
					<div class="col">
						<label for="protein" class="form-label">Protein</label>
						<input name="protein" id="protein" placeholder="Enter a protein" value='{{ protein if protein else "" }}'/>
					</div>
					<div class="col">
						<input class="btn btn-outline-success" type="submit" value="search">
					</div>
				</div>
			</form>


			<div class="container">
			{% block results %}{% endblock %}
			</div>
		</div>

		<script>
			$('#allele').autocomplete({
				serviceUrl: '/suggest/allele',
				dataType: 'json',
			});
			$('#protein').autocomplete({
				serviceUrl: '/suggest/protein',
				dataType: 'json',
			});
		</script>
		<!-- Bootstrap JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	</body>
</html>
